.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 96px;
}

.input {
    padding: 25px;
    border: 1px solid black;
    border-radius: 16px;
    font-size: 32px;
}

.button {
    padding: 25px;
    border-radius: 16px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        color: black;
        background-color: white;
    }
    &:disabled {
        cursor: wait;
        background-color: gray;
        border-color: gray;
        &:hover {
            color: white;
            background-color: gray;
            border-color: gray;
        }
    }
}
