.App {
	font-family: sans-serif;
	text-align: center;
}


@font-face {
	font-family: "TTCommons";
	src: url("../src/fonts/TTCommons-Regular.woff2") format("woff2");
}



html {
	font-style: normal;
	font-size: 16px;  
	font-family: "TTCommons", sans-serif;
}

body {
	margin: 0;
}

/* styling button */
#toggle-edit-btn {
	background-color: #4267b2;
	border: 1px solid #4267b2;
	border-radius: 0.3rem;
	color: #fff;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin: 2rem auto;
}

#toggle-edit-btn:focus,
#toggle-edit-btn:hover {
	cursor: pointer;
}

/* styling app content container */
.app-content {
	margin: 1rem auto;
	width: 80%;
	padding: 5%;
	background-color: #f4f5f9;
}

/* styling alert text when edit mode is enabled */
.edit-mode-alert {
	text-decoration: underline;
	color: #c80000;
}

/* styling text parsed */
.text-container > *,
.editor-container > * {
	text-align: left;
}
.ce-block__content,
.ce-toolbar__content {
	max-width: 850px;
}

html {
	box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
	box-sizing: inherit;
  }
  
  ul,
  ol,
  p {
	padding: 0;
	margin-bottom: 5px;
  }

  
  ul {
	list-style: none;
  }
  
  img {
	max-width: 100%;
	display: block;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }
  
  input,
  button,
  textarea,
  select {
	font: inherit;
	letter-spacing: inherit;
  }
  
 


  h2 {
	font-size: 40px;
	font-weight: 400;
  }

  h3 {
	font-size: 32px;
	font-weight: 400;
  }

  .ce-paragraph {
	font-size: 24px;
  }
